:root {
  --primary: #0047AB;
  --secondary: #FFD302;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* body {
  height: 5000px;
} */

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#navbar {
  z-index: 100;
}

.nav-icon {
  fill: #FFD302;
}

.footer-icon {
  fill: #0047AB;
}

.sosmed {
  fill: #FFD302;
}

/* WA */

.btn-wa {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #25D366;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 1000;

}

.section {
  position: relative;
  margin-bottom: 2px;
}

.tooltip {
  position: absolute;
  top : .5rem;
  right: 3rem;
  font-size: 1rem;
  background-color: #1c9b4a;
  color: #ffffff;
  padding: .2rem 1rem;
  border-radius: .5rem;
  opacity: 0;
  transition: all .5s ease-in-out;
}


.btn-wa:hover .tooltip {
  opacity: 1;
}

/* End WA */